.description {
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
}

.descriptionHeading {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #8b5f52;
}

.description .inputLabelWrapper {
  display: grid;
  gap: 0.5rem;
}
.inputLabelWrapper {
  font-family: "Inter";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #4f4f4f;
}
.inputLabelWrapper input {
  padding: 1rem;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #828282;
}
.inputLabelWrapper textarea {
  resize: none;
  border: 1px solid #bdbdbd;
}
input,
textarea {
  outline: none;
}
