.button {
  background: #f4511e;
  box-shadow: 0px 20px 13px rgba(248, 90, 71, 0.035),
    0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815),
    0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
  border-radius: 5px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  padding: 1rem 1.5rem;
  border: none;
  margin: 0rem 1rem;
  cursor: pointer;
}
.button:hover,
.button:active {
  background-color: #e73600;
}
.button:disabled,
.button:disabled:hover,
.button:disabled:active {
  cursor: not-allowed;
}
@media screen and (max-width: 690px) {
  .button {
    padding: 0.6rem;
  }
}
@media screen and (max-width: 400px) {
  .button {
    padding: 0.4rem;
    font-size: 14px;
    line-height: 20px;
  }
}
