.minimumlivingcost {
  margin-top: 2rem;
  padding: 2rem 5rem;
}
.heading2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
  text-transform: capitalize;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191f;
  text-align: left;
}
.imageAndFeatures {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .minimumlivingcost{
    padding: 2rem;
  }
  .imageAndFeatures {
    gap: 1rem;
  }
}

@media screen and (max-width: 950px) {
  .minimumlivingcost {
  margin-top: 1rem;
  padding: 2rem 1rem;
}
.heading2{
  font-size: 30px;
  line-height: 38px;
 } 
  .imageAndFeatures {
   flex-direction: column;
  }
}
@media screen and (max-width: 690px) {
 .heading2{
  font-size: 26px;
  line-height: 36px;
 } 
}