.minimumlivingcost {
  margin-top: 2rem;
  padding: 2rem 5rem;
}

.heading2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
  text-transform: capitalize;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191f;
  text-align: left;
}
.imageAndFeatures {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1200) {
  .minimumlivingcost{
    padding: 2rem;
  }
}