.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #554f4f;
  top: 0;
  left: 0;
  z-index: 3009;
  opacity: 0.6;
}
.display {
  display: block;
}
.container {
  background-color: #fff;
  text-align: center;
  width: 80%;
  border-radius: 5rem;
  padding: 2rem;
  position: absolute;
  top: 50%;
   left: 10%;
}
/* .content {
  color: #fff;
} */
