.list {
  padding: 0rem 4rem;
}
.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listH2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 64px;
  text-transform: capitalize;
  font-feature-settings: "salt" on, "liga" off;
  color: #18191f;
}
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem auto 2rem;
}
@media screen and (max-width: 920px) {
  .listH2{
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .list{
    padding: 0rem 2rem;
  }
  .listH2{
    font-size: 24px;
  }
  .cardContainer{
    margin: 1rem 2rem;
  }
}
@media screen and (max-width: 510px) {
    .list{
    padding: 0rem 1rem;
  }
  .listH2{
    font-size: 20px;
  }
}

