.dashboard {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}
.dashboardContainer {
  display: grid;
  grid-template-columns: 15rem 1fr;
}
.sideBar {
  border-right: 1px solid rgba(139, 95, 82, 0.63);
  padding: 1.5rem;
  display: grid;
  gap: 3rem;
}
.sideBarMenu {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  cursor: pointer;
}
.sideBarMenu h4 {
  font-family: "Inter";
  font-style: normal;
  /* font-weight: 700; */
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  /* color: #8b5f52; */
  color: #4f4f4f;
  white-space: nowrap;
}
.sideBarIcon {
  /* color: #8b5f52; */
  color: #4f4f4f;
  font-size: 20px;
  font-weight: bolder;
}