.dashboard {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}
.dashboardContainer {
  display: grid;
  grid-template-columns: 15rem 1fr;
  position: relative;
}
.harmburger {
  display: none;
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  background-color: #000;
  cursor: pointer;
  position: fixed;
}
.sideBarContentContainer {
  height: max-content;
}
.sideBar {
  border-right: 1px solid rgba(139, 95, 82, 0.63);
  padding: 1.5rem;
  display: grid;
  gap: 2rem;
}
.sideBarMenu {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  cursor: pointer;
}
.sideBarMenu h4 {
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #4f4f4f;
  white-space: nowrap;
}
.sideBarIcon {
  color: #4f4f4f;
  font-size: 20px;
  font-weight: bolder;
}
@media only screen and (max-width: 930px) {
  .dashboardContainer {
    grid-template-columns: 1fr;
  }
  .sideBarContentContainer {
    display: none;
    position: fixed;
    top: 140px;
    left: 10px;
    background-color: #fff;
    z-index: 1;
  }
  .sideBar {
    border: none;
  }
  .visible {
    display: block;
  }
  .harmburger {
    display: block;
  }
}
