.location {
  display: grid;
  gap: 1rem;
}
.descriptionHeading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #8b5f52;
}
.stateAddressInputWrapper {
  display: flex;
  gap: 1.5rem;
}
.stateAddressInputWrapper div {
  display: flex;
  flex-direction: column;
}
.stateAddressInputWrapper div label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #1d1d1d;
}
.stateAddressInputWrapper div select,
input {
  padding: 1rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #828282;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  outline: none;
}
.filterHero {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  align-items: center;
  width: 100%;
}
.filterHero select {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0px 0px 5px;
  padding: 0.2rem 3rem 0rem 0rem;
  outline: none;
  width: 50%;
  padding: 1rem;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #252b42;
}
.searchBox {
  display: flex;
  gap: 0rem;
  width: 100%;
}
.searchBox select {
  width: 100%;
}
.searchIcon {
  font-size: 2rem;
  font-weight: bolder;
  background: #23a6f0;
  border: 1px solid #e6e6e6;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  cursor: pointer;
}
.filterHero + p {
  font-family: "Lexend";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #828282;
  margin-top: 0.4rem;
}
@media screen and (max-width: 1058px) {
  .hero {
    gap: 2rem;
    margin: 2rem 1rem;
  }
}

@media screen and (max-width: 950px) {
  .header {
    height: max-content;
  }
  .hero {
    flex-direction: column;
  }
  .heroText {
    width: 100%;
    text-align: center;
    font-size: 45px;
  }
  .heroImg {
    width: 70%;
  }
}
@media screen and (max-width: 690px) {
  .heroH1 {
    font-size: 40px;
  }
  .heroImg {
    width: 100%;
  }
  .filterHero {
    padding: 0.5rem;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 510px) {
  .searchBox select {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 440px) {
  .filterHero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .filterHero select {
    width: 100%;
    padding: 1.5rem;
  }
  .filterHero .searchBox {
    width: 100%;
  }
}
