.contact {
  margin-bottom: 2rem;
}
.contactHeader {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  text-transform: capitalize;
  font-feature-settings: "salt" on, "liga" off;
  color: #000000;
  text-align: center;
  margin: 2rem auto;
}
.contactForm {
  background: #ffffff;
  box-shadow: 0px 4px 63px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 2rem 3rem;
  width: 85%;
  margin: 0rem auto;
}
.formHeading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #f4511e;
  margin: 2rem auto;
}
.inputsAndLabel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  gap: 3rem;
}
.input {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  padding: 0.7rem 3rem;
  outline: none;
}
.select {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  padding: 1rem 5rem;
  outline: none;
}
.label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252b42;
  /* margin-bottom: 5rem; */
}
.label span {
  color: #f4511e;
}
.textarea {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  width: 100%;
  padding: 1rem;
  outline: none;
  resize: none;
}
@media screen and (max-width: 1000px) {
  .contactHeader {
    font-size: 20px;
    margin: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .contactHeader {
    font-size: 16px;
    margin: 1rem;
  }
  .input,
  .select {
    width: 100%;
  }
}
@media screen and (max-width: 510px) {
  .contactHeader {
    font-size: 12px;
    margin: 1rem;
  }
  .input{
    padding: 0.7rem 3rem;
    width: 100%;
  }
 
  .contactForm {
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 455px) {
  .formHeading {
    font-size: 20px;
    line-height: 32px;
  }
}
