.header {
  background-image: url("./assests/header background.png");
  background-repeat: no-repeat no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0rem 5rem 10rem;
  height: 100vh;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin-top: 2rem;
}
.heroText {
  width: 50%;
}
.heroH1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 70px;
  letter-spacing: -1px;
  text-transform: capitalize;
  color: #ffffff;
}
.heroImg {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heroMap {
  height: 300px;
}
.filterHero {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  /* justify-content: stretch; */
  margin-top: 1rem;
  gap: 1rem;
}
.filterHero select {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px 0px 0px 5px;
  padding: 0.2rem 3rem;
  outline: none;
  width: 50%;
}
.searchBox {
  display: flex;
  gap: 0rem;
  width: 50%;
  /* justify-self: stretch; */
}
.searchBox select {
  width: 100%;
}
@media screen and (max-width: 1113px) {
  .header {
    padding: 0rem 1rem 10rem;
  }
  .hero {
    gap: 2rem;
  }
}

@media screen and (max-width: 950px) {
  .hero {
    flex-direction: column;
  }
  .heroText {
    width: 100%;
    text-align: center;
    font-size: 45px;
  }
  .heroImg {
    width: 70%;
  }
}
@media screen and (max-width: 690px) {
  .heroH1 {
    font-size: 40px;
  }
  .heroImg {
    width: 100%;
  }
  .filterHero {
    padding: 0.5rem;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width:510px){
  .heroH1 {
    font-size: 30px;
  }
  .searchBox select {
  padding: 0.5rem;
}
}
