.pagination {
  background: #ffffff;
  border: 1.34552px solid #bdbdbd;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6.72761px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 2rem auto;
  padding:0.8rem 0.5rem;
  /* width: max-content;
  height: max-content; */
}
.pageItemInactive {
  list-style-type: none;
  margin: 0rem 1rem;
  background: #ffffff;
}
.pageItemActive {
  list-style-type: none;
  margin: 0rem 1rem;
  background: #f4511e;
}
.activeLink {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background: #f4511e;
  padding: 1rem;
}
.inactiveLink {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #f4511e;
  background: #ffffff;
  padding: 1rem;
}
.muted {
  color: #bdbdbd;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  background: #ffffff;
  padding: 1rem 0.5rem;
}
