.navlogo {
  background-color: transparent;
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #ffffff;
  padding: 1rem 0.2rem 0.5rem;
  margin: 0rem 5rem;
  position: relative;
  top: 0;
}
.modalOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: #555353;
  top: 0;
  left: 0;
  z-index: 3000;
  opacity: 0.6;
}
.LoginModalOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #555353;
  top: 0px;
  left: 0;
  z-index: 3000;
  opacity: 0.6;
}
.nav {
  display: flex;
  /* justify-content: space-between; */
  gap: 0.5rem;
}
.ul {
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-end;
}
.li,
.ul a button {
  margin: 0rem 1rem;
}
.li a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 70.19%;
  color: #ffffff;
}
.li a:focus,
.li a:active {
  border-bottom: 1px solid #ffffff;
}

.harmburger {
  display: none;
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #f4511e;
  cursor: pointer;
}
.btn {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}
.btn1 {
  background: #8b5f52;
  color: #fff;
  border: none;
}
.btn2 {
  color: #8b5f52;
  border: 1px solid #8b5f52;
  background-color: inherit;
}
.getStartedBtn {
  background: #f4511e;
  border-radius: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  white-space: nowrap;
  border: none;
}
.menuCta {
  display: none;
  position: absolute;
  top: 100%;
  flex-direction: column;
  gap: 1rem;
  right: 10px;
  padding: 1rem 2rem;
  background: #efd5d5;
  box-shadow: 0px 12px 24px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  z-index: 3000;
  animation-name: animateleft;
  animation-duration: 1s;
}
.flex {
  display: flex;
}
.link {
  color: #ffffff;
}
@keyframes animateleft {
  from {
    opacity: 0;
    transform: scale(0%);
  }
  to {
    opacity: 1;
    transform: scale(100%);
  }
}

@media screen and (max-width: 1058px) {
  .navlogo {
    gap: 3rem;
    margin: 0rem 0rem;
  }
  .li {
    margin: 0rem 0.5rem;
  }
}
@media screen and (max-width: 903px) {
  .navlogo {
    gap: 0rem;
  }
  .li {
    margin: 0rem 0.2rem;
  }
}

@media screen and (max-width: 816px) {
  .navlogo {
    justify-content: space-between;
  }
  .ul {
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    position: absolute;
    top: 15%;
    right: 0%;
    background-color: #f4511e;
    width: 50%;
    transition: top 1s linear;
    left: 0;
    animation-name: animateleft;
    animation-duration: 1s;
    z-index: 3001;
  }
  .ulexpanded {
    display: block;
  }
  .li {
    text-align: center;
    margin: 4rem 0rem;
  }
  .harmburger {
    display: block;
    border: none;
  }
}
@media screen and (max-width: 500px) {
  .navlogo {
    padding: 0rem;
  }
  .ul {
    width: 75%;
  }
  .getStartedBtn {
    font-size: 12px;
  }
  .navlogo div img {
    width: 4.5rem;
    height: 4.5rem;
  }
}
