.navlogo {
  background-color: transparent;
  display: flex;
  gap: 5rem;
  align-items: flex-end;
  justify-content: space-evenly;
  border-bottom: 0.5px solid #ffffff;
  padding: 1rem 0.2rem;
  position: relative;
  top: 0;
}
.modalOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  background-color: #555353;
  top: 0;
  left: 0;
  z-index: 3000;
  opacity: 0.6;
}
.LoginModalOverlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #555353;
  top: 0px;
  left: 0;
  z-index: 3000;
  opacity: 0.6;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 8000;
}
.li {
  margin: 0rem 2rem;
}
.li a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 70.19%;
  color: #ffffff;
}
.li a:focus,.li a:active {
  border-bottom: 1px solid #ffffff;
}

.menuCta {
  display: flex;
  justify-content: space-between;
}
.harmburger {
  display: none;
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #f4511e;
  cursor: pointer;
}
.btn {
  white-space: nowrap;
  margin: 0rem 2rem;
}
/* lOGIN AND SIGNUP MODAL STYLES */
.loginWrapper {
  background-color: #fffdfd;
  padding: 3rem;
  z-index: 8000;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 2rem;
  transition: top 1s linear;
  animation-name: animateleft;
  animation-duration: 1s;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.wrapper div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #252b42;
}
.input {
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #737373;
  padding: 0.7rem 3rem;
  outline: none;
}
.invalidInput {
  border: 1px solid #f4511e;
  background-color: #fddddd;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  padding: 0.5rem 2.5rem;
  outline: none;
}

.invalidInput:focus {
  border-color: #f4511e;
  background-color: #fbe8d2;
}

.errorText {
  color: #b40e0e;
}
/*   lOGIN AND SIGNUP MODAL STYLES*/
@keyframes animateleft {
  from {
    top: -50%;
    opacity: 0;
    transform: scale(0%);
  }
  to {
    top: 0%;
    opacity: 1;
    transform: scale(100%);
  }
}

@media screen and (max-width: 1058px) {
  .navlogo {
    gap: 3rem;
  }
  .li {
    margin: 0rem 1rem;
  }
}
@media screen and (max-width: 903px) {
  .navlogo {
    gap: 2rem;
  }
  .li {
    margin: 0rem 1rem;
  }
}
@media screen and (max-width: 898px) {
  .navlogo {
    gap: 1rem;
  }
  .li {
    margin: 0rem 0.5rem;
  }
}
@media screen and (max-width: 807px) {
  .navlogo {
    justify-content: space-between;
  }
  .hidden {
    display: none;
  }
  .visible {
    display: block;
  }
  .ul {
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    position: absolute;
    top: 15%;
    right: 0%;
    background-color: #f4511e;
    width: 50%;
    transition: top 1s linear;
    left: 0;
    animation-name: animateleft;
    animation-duration: 1s;
  }
  .ulexpanded {
    display: block;
  }
  .li {
    text-align: center;
    margin: 4rem 0rem;
  }
  .harmburger {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .ul {
    width: 75%;
  }
  .loginWrapper {
    width: 90%;
  }
  .input {
    font-size: 10px;
    padding: 0.7rem 2rem;
  }
}
