.navlogo {
  background-color: transparent;
  display: flex;
  /* justify-content: space-between; */
  gap: 5rem;
  align-items: flex-end;
  align-content: flex-end;
  border-bottom: 0.5px solid #ffffff;
  padding: 1rem 0.2rem;
  /* border: 1px solid red; */
}
.ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.li {
  margin: 0rem 3rem;
}
.li a {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 70.19%;
  color: #ffffff;
}
.li a:focus {
  border-bottom: 1px solid #ffffff;
}
.harmburger {
  display: none;
}

@media screen and (max-width: 1058px) {
  .navlogo {
    gap: 3rem;
  }
  .li {
    margin: 0rem 2rem;
  }
}
@media screen and (max-width: 898px) {
  .navlogo {
    gap: 2rem;
  }
  .li {
    margin: 0rem 1.5rem;
  }
}
@media screen and (max-width: 690px) {
  .navlogo {
    justify-content: space-between;
  }
  .ul {
    display: none;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    position: absolute;
    top: 10%;
    background-color: #f4511e;
  }
  .li {
    margin: 2rem 0rem;
  }
  .harmburger {
    display: block;
  }
}
