.photos .fileInputWrapper {
  padding: 0rem;
}
.photos h5 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #8b5f52;
  margin: 2rem 0rem 0rem;
}
.photos .fileInputWrapper div {
  display: flex;
  gap: 0.5rem;
}
.fileInputWrapper input {
  border: 1px solid #828282;
  padding: 0.75rem;
  width: 100%;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
}
.fileInputWrapper button {
  margin-top: 0rem;
  background-color: #8b5f52;
  color: #fff;
  /* width: 100%;
  margin: 1rem auto; */
}
.fileInputWrapper p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #828282;
  margin: 0rem 0rem 0rem 0rem;
}
.error {
  color: red;
}
