.drag {
  margin: 2rem auto;
}
.dragHeading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 1rem;
}
.dragArea {
  background: rgba(244, 81, 30, 0.01);
  border: 1px dashed #f4511e;
  border-radius: 10px;
  padding: 2rem 1rem;
}
.dragAreaActive {
  background: rgba(88, 22, 1, 0.01);
  border: 1px dashed #f4511e;
  border-radius: 10px;
  padding: 2rem 1rem;
}
.dragDescription {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-align: center;
}
.dragDescription > span {
  color: #f4511e;
}
.format {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.dragInputbtn {
  display: none;
}
.browseLabel {
  cursor: pointer;
}
@media screen and (max-width: 434px) {
 .dragDescription {
  font-size: 12px;
  line-height: 18px;
}
.dragHeading {
  font-size: 16px;
  line-height: 20px;
}
.format {
  font-size: 10px;
  line-height: 15px;;
}
}

