.listings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem 1rem;
}
.listYourSpace {
  display: grid;
  place-content: center;
  background: #bdbdbd;
  border-radius: 8px;
  padding: 2rem;
  background-image: url("./assets/homeImage.png");
  background-size: cover;
  background-position: center;
}
.listYourSpace div h2 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 32px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: #ffffff;
  position: relative;
}
.listYourSpace div h2::after {
  content: "";
  width: 35%;
  height: 3px;
  background-color: #f4511e;
  position: absolute;
  bottom: 0;
  left: 50px;
}
.listYourSpace div h2 span {
  color: #f4511e;
}
.listYourSpace div p {
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.listings form {
  position: relative;
}

.btnsWrapper {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}
.btnsWrapper button {
  background: #8b5f52;
  color: #fff;
}
.btnsWrapper button:first-child {
  border: 1px solid #8b5f52;
  background-color: inherit;
  color: #8b5f52;
}
@media only screen and (max-width: 690px) {
  .listings {
    grid-template-columns: 1fr;
  }
  .listYourSpace {
    height: 70vh;
  }
}
